{% extends layout_template %}

{% block title %}{{ 'reset.code.title'|trans({}, 'NowoAuthKitBundle') }}{% endblock %}

{% block body %}
{% form_theme reset_password_code_form '@NowoPasswordToggleBundle/Form/toggle_password_widget.html.twig' %}
<section class="nowo-auth-kit__panel">
    <h1>{{ 'reset.code.heading'|trans({}, 'NowoAuthKitBundle') }}</h1>
    <p>{{ 'reset.code.help'|trans({}, 'NowoAuthKitBundle') }}</p>

    {{ form_start(reset_password_code_form) }}
        {{ form_row(reset_password_code_form.identifier) }}
        {{ form_row(reset_password_code_form.code) }}
        {{ form_row(reset_password_code_form.password) }}
        <button type="submit" class="nowo-auth-kit__button">{{ 'reset.code.submit'|trans({}, 'NowoAuthKitBundle') }}</button>
    {{ form_end(reset_password_code_form) }}

    <p class="nowo-auth-kit__footer">
        <a href="{{ path(reset_request_route, auth_kit_route_params()) }}">{{ 'reset.code.request_new'|trans({}, 'NowoAuthKitBundle') }}</a>
        ·
        <a href="{{ path(login_route, auth_kit_route_params()) }}">{{ 'reset.code.back_to_login'|trans({}, 'NowoAuthKitBundle') }}</a>
    </p>
</section>
{% endblock %}
